Library/
Logs/
v17/
Assets/XLua/Gen/
*.vsidx
*.dwlt
*.cache
*.lppdb
*.lpxml
*.lpconf
Temp/

UserSettings/Layouts/CurrentMaximizeLayout.dwlt
/UserSettings/Layouts
/obj/Debug
/Assets/.lpproj
Assets/.lpproj/CheckedCodeList.lpxml
Assets/.lpproj/PDB.lppdb
Assets/.lpproj/UserConfig.lpconf
